@import "alc/colors.scss";
@import "alc/breakpoints";
@import "alc/font-styles";
@import "alc/spacing";
@import "alc/border";
#acc-login-container, #override-container{

	@import "alc/panel";
	@import "alc/alert";
	font-size: 16px;
	// Content block reset
	.main-content-padding, #forgot-password, #forgot-username, #reset-password, #security-questions, #login-duplicate-check, #pre-registration, #site-registration, #user-agreement {
    	padding: 0em;
	}
	.acc-login-content, .footer{
		padding-top:1em;
		padding-bottom:1em;
		margin:0 auto;
		max-width: 724px; 
	}
	.acc-login-content{
		padding-top:2em;
	}
	#separator hr{
		border-top: $acc-blue 1.5em solid;
	}
	.separator, hr{
		border-top: $acc-blue 1px solid;
		@extend .m-b_2;
	}
	.tiny-text{@include  fs__2;}
	.btn{ 
		@include fs_1;
		@extend .p-r_2;
		@extend .p-l_2; 
	}
	.btn-primary{
	 	color: #fff;
	 	border:sold 1px grey(30);
	 	background-color: $scrub-teal;
	 	letter-spacing: 1px;
	 	@extend .bg-color-transition;
	 	&:hover{
	 		background-color: mix($scrub-teal,$black,25);
	 	}
	 	&[disabled="disabled"]{
	 		background-color: grey(10) !important; color: grey(30) !important; border-color: grey(30) !important;
	 	}
	 	}
	.btn-xl{
		width:100%;
		padding:1em;
	}	

	.footer{
		@include fs_1;
		ul{ 
			list-style: none;
			@extend .lh-tight;
		}
	}
	@import "alc/input";

}
#acc-login-container{
	h1{ @include fs_6; @extend .fw-m;  @extend .fc-acc-blue;}
	h2{ @include fs_5; @extend .fw-m; @extend .fc-scrub-teal;}
	h3{ @include fs_4; @extend .fc-scrub-teal;}
	h4{ @include fs_3;}
	h5{ @include fs_2; @extend .m-b_025;}
	h6{ @include fs_1; @extend .m-b_025;}
	p{ 
		@include fs_0; @extend .lh-normal;
		&.lead{
			@include fs_1;
			 @extend .lh-loose;
		}

	}
	small{ @include  fs__1;}
	@import "alc/professional-type";

}
#override-container{
	@import "override/search-bar";	
	h1{ @include fs_4;}
	h2{ @include fs_3;}
	h3{ @include fs_2;}
	h4{ @include fs_1;}
	h5{ @include fs_0;}
	h6{ @include fs_0;}
	p{ 
		@include  fs__2;
		@extend .lh-normal;
		&.lead{
			@include  fs__1;
			 @extend .lh-loose;
		}

	}
	small{ @include  fs__3;}
	.nav.nav-tabs{display:inline-block;width:100%;}
	.nav-tabs>li {margin-bottom: -2px;}
}


